*{
    text-decoration: overline;
    background-color: #e7f4ff;
    
}

h1{
    font-size: 58px; /*tamaño de fuente*/
    font-family:Arial, Helvetica, sans-serif; /*tipo de fuente*/
    color: #182f44;
    background-color: #bfcfe9;
    font-weight: normal; /*negrilla*/
    font-style: italic; /*estilo de fuente*/
    text-align: center; /*ubicacion letra*/
    text-decoration: underline;
    text-transform: uppercase; /*transformación*/
    text-decoration-color: #0a0b3b;
    text-decoration-style: dotted;
    text-shadow: 1px 2px 2px#4897cc; /*sombra*/
    text-indent: 10px; /*sangria*/
    word-spacing: 24px;
    letter-spacing: 15px;
    word-wrap: break-word; /*salto de linea*/

    border-width: 5px;
    border-style:dashed;
    border-color: rgba(57, 91, 136, 0.5) ;
    /* border:5px solid red; */

}
.blue{
    color: #2473a8;
}
.negrilla{
    font-weight: bolder;
}
.cute{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type=text]{
    color: #0e0527;
    background-color: #c2d0f0;
}

input[type=email]{
    color: #5c1869;
    background-color: #cdd0eb;
}

input[value]{
    font-style: italic;
    background-color: #aad8f7;
}
/*hola*/